.container {
  max-width: 900px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .container {
      max-width: 100%;
  }
}

.container h1 {
  color: var(--black);
}

.containerHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.tag {
  width: 9px;
  background-color: var(--green-900);
  height: 25rem;
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 1rem;
}

.containerCaixa {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  gap: 3rem;

  select {
      width: 100%;
      height: 40px;
      margin-bottom: 1rem;
      color: var(--black);
      background-color: var(--white);
      border: 1px solid var(--black);
      padding: 0 0.5rem;
      border-radius: 0.3rem;
  }
}

.inputContainer {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
  height: 40px;
  padding: 0 0.5rem;
}

.selectClient {
  display: flex;
  flex-direction: row;
}

.iconsInput {
  margin-right: 1rem;
}

.buttonConfirm {
  margin-top: 1rem;
  border-radius: 0.3rem;
  height: 40px;
  border: 0;
  background-color: var(--blue-700);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  transition: 0.7s;

  &:hover{
    transform: scale(1.05);    
    background-color: var(--blue-900);
  }
}

.formCaixa {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding: 0.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {

  .containerCaixa {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 1rem;
  }

  .tag {
    display: none;
  }
  
}
