.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    select{
        width: 100%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: var(--black);
        background-color: var(--white);
        border: 1px solid var(--black);
        padding: 0 0.5rem;
        
    }

    input{
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: var(--black);
        background-color: var(--white);
        border: 1px solid var(--black);
        height: 40px;
        padding: 0 0.5rem;
    }

}

.buttonAdd{
    border-radius: 0.3rem;
    height: 40px;
    border: 0;
    background-color: var(--blue-700);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
    transition: transform 0.7s;
    
    &:hover{
        transform: scale(1.05);        
        background-color: var(--blue-900);
    }
}

.containerSelects{
    display: flex;
    flex-direction: row;
}

.camposFaltando {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 0.3rem;
    padding: 10px;
    margin-bottom: 10px;
  }

